@model inmobiliariaBaigorriaDiaz.Models.TipoDeInmueble

@{
    ViewData["Title"] = "Edit";
}

<h1>Actualizar</h1>

<h4>Tipo de Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTipoDeInmueble" class="control-label"></label>
                <input asp-for="IdTipoDeInmueble" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary btn-guardar" style="margin-right: 30px;"/>
                <button type="button" onclick="window.location.href='@Url.Action("Index", "TipoDeInmueble")'" class="btn btn-outline-warning" style="font-weight: bold; border-width: 2px;"> Volver a la
                    Lista</button>
            </div>
        </form>
    </div>
</div>

