@model inmobiliariaBaigorriaDiaz.Models.Pago

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>ALTA DE PAGO</b></h1>
                    <form asp-action="Create" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="IdContrato" class="control-label">Contrato</label>
                            <input type="text" asp-for="IdContrato" class="form-control" readonly />
                            <span asp-validation-for="IdContrato" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Monto" class="control-label"></label>
                            <input type="number" asp-for="Monto" class="form-control" />
                            <span asp-validation-for="Monto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MesDePago" class="control-label"></label>
                            <select asp-for="MesDePago" class="form-select" name="MesDePago">
                                <option value="0">Seleccione un mes de pago</option>
                                @foreach (var item in ViewBag.Meses)
                                {
                                    <option value="@item">@(item)</option>
                                }
                            </select>
                            <span asp-validation-for="MesDePago" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Fecha" class="control-label">Fecha del pago: </label>
                            <br>
                            <input name="Fecha" type="date" class="form-control">
                            <span asp-validation-for="Fecha" class="text-danger"></span>
                            <div class="form-group text-center mt-2">
                                <button type="submit" class="btn btn-primary">Pago</button>
                                <a href="@Url.Action("Index", "Pago")"
                                    class="m-2 p-2 btn btn-outline-warning">Volver a la Lista</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Validar los campos y mostrar los iconos de verificación
        $(document).ready(function () {
            $('.input-group input').on('input', function () {
                var inputGroup = $(this).closest('.input-group');
                var iconCheck = inputGroup.find('.fa-check');
                var iconTimes = inputGroup.find('.fa-times');
                if ($(this).val().trim() !== '') {
                    iconCheck.removeClass('d-none');
                    iconTimes.addClass('d-none');
                } else {
                    iconCheck.addClass('d-none');
                    iconTimes.removeClass('d-none');
                }
            });
        });
    </script>
}
