@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4 animated-title">Inmobiliaria Baigorria&Diaz</h1>
    <img src="~/casa1.jpg" alt="Casa Moderna" class="img-principal" style="width: 1600px; height: 734px; margin-left: -160px;">
</div>
<link rel="stylesheet" type="text/css" href="~/site.css" /> 