@model inmobiliariaBaigorriaDiaz.Models.Usuario

<h1>Perfil de Usuario</h1>

<div>
	<p><strong>Nombre:</strong> @Model.Nombre</p>
	<p><strong>Apellido:</strong> @Model.Apellido</p>
	<p><strong>Email:</strong> @Model.Email</p>
	<p><strong>Rol:</strong> @Model.RolNombre</p>
	<!-- Agrega más campos según sea necesario -->
</div>
