@model inmobiliariaBaigorriaDiaz.Models.Registro

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Registro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdRegistro" class="control-label"></label>
                <input asp-for="IdRegistro" class="form-control" />
                <span asp-validation-for="IdRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFila" class="control-label"></label>
                <input asp-for="IdFila" class="form-control" />
                <span asp-validation-for="IdFila" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreDeTabla" class="control-label"></label>
                <input asp-for="NombreDeTabla" class="form-control" />
                <span asp-validation-for="NombreDeTabla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeAccion" class="control-label"></label>
                <input asp-for="TipoDeAccion" class="form-control" />
                <span asp-validation-for="TipoDeAccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

